doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", type="text/css", href="css/libs.css")
    link(rel="stylesheet", type="text/css", href="css/main.min.css")
    title
  body
    div#logo
      img(src="img/karpatski_vovky_logo.svg")
      h1 #КВ
    include includes/info1.jade
  
  script(type="application/javascript", src="js/libs.js")
