div(class="container-info")
  div(class="container")
    div
      div(class="row header")
        div(class="col-md-6 col-sm-12")
          h1 9 порад
        div(class="col-md-6 col-sm-12")
          h2 для життя без пластику
      div(class="row content")
        div(class="col-md-4")
          div(class="item")
            h2 1
            span пийте зі склянки
            img(src="img/1.jpg")
        div(class="col-md-4")
          div(class="item")
            h2 2
            span використовуйте металеві фляги
            img(src="img/2.jpg")
        div(class="col-md-4")
          div(class="item")
            h2 3
            span купуйте дерев'яні іграшки
            img(src="img/3.jpg")
        div(class="col-md-4")
          div(class="item")
            h2 4
            span використовуйте багаторазовий посуд
            img(src="img/4.jpg")
        div(class="col-md-4")
          div(class="item")
            h2 5
            span зберігайте скляні банки
            img(src="img/5.jpg")
        div(class="col-md-4")
          div(class="item")
            h2 6
            span беріть із собою еко-сумку
            img(src="img/6.jpg")

        div(class="col-md-4")
          div(class="item")
            h2 7
            span органічні відходи викидайте в окреме відро
            img(src="img/7.jpg")
        div(class="col-md-4")
          div(class="item")
            h2 8
            span використовуйте багаторазові контейнери
            img(src="img/8.jpg")
        div(class="col-md-4")
          div(class="item")
            h2 9
            span покажіть цю інфографіку своєму другу
            img(src="img/9.jpg")
