div(class="container")
    div(class="container-info")
        div
            div(class="col-md-6 col-xs-12")
                h1 9 порад
            div(class="col-md-6 col-xs-12")
                h1 для життя без пластику
            div(class="col-md-4")
                div(class="item")
                    h2 1
                    span пийте зі склянки
            div(class="col-md-4")
                div(class="item")
                    h2 2
                    span використовуйте металеві фляги
            div(class="col-md-4")
                div(class="item")
                    h2 3
                    span купуйте дерев'яні іграшки
            div(class="col-md-4")
                div(class="item")
                    h2 4
                    span використовуйте багаторазовий посуд
            div(class="col-md-4")
                div(class="item")
                    h2 5
                    span зберігайте скляні банки
            div(class="col-md-4")
                div(class="item")
                    h2 6
                    span беріть із собою еко-сумку
            div(class="col-md-4")
                div(class="item")
                    h2 7
                    span органічні відходи викидайте в окреме відро
            div(class="col-md-4")
                div(class="item")
                    h2 8
                    span використовуйте багаторазові контейнери
            div(class="col-md-4")
                div(class="item")
                    h2 9
                    span покажіть цю інфографіку своєму другу
